<html>
<style>

.seguir-feed {
  margin: 0px;
  padding: 0px;
}

.seguir-feed-item {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border: solid 1px silver;
}

.seguir-user {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.seguir-from-now {
  color: gray;
  font-size: smaller;
  margin-left: 10px;
}

.seguir-post {
  padding: 5px;
}

.seguir-like {
  padding: 5px;
}

</style>
<body>
  {{{body}}}
</body>
</html>
